.vs/NopCommerce/v15/.suo
.vs/NopCommerce/v15/Server/sqlite3/db.lock
.vs/NopCommerce/v15/Server/sqlite3/storage.ide
.vs/NopCommerce/v15/Server/sqlite3/storage.ide-shm
.vs/NopCommerce/v15/Server/sqlite3/storage.ide-wal

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.dll
.builds
build/out/
*.orig-rdn
teamcity-info.xml
/Presentation/Nop.Web/Plugins/
/Presentation/Nop.Web/App_Data/dataSettings.json
/Presentation/Nop.Web/App_Data/installedPlugins.json