<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore requestTimeout="00:07:00" processPath=".\Nop.Web.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Remove www prefix">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                        <add input="{HTTP_HOST}" pattern="^.*.azurewebsites.net.*$" />
                    </conditions>
                    <action type="Redirect" url="https://arrowwarehousing.co.nz/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <monitoring>
            <triggers>
                <statusCode>
                    <add statusCode="500" subStatusCode="100" win32StatusCode="0" count="2" timeInterval="00:10:00"/>
                </statusCode>
            </triggers>
            <actions value="Recycle"/>
        </monitoring>
    </system.webServer>
</configuration>
<!--ProjectGuid: 4f1f649c-1020-45be-a487-f416d9297ff3-->